body {
  background-color: black;
  background-image: url("giphy.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 500px;
  margin: 10%;
  font-family: 'Bree Serif', serif;
}
h1{
  font-size: 500%;
  color: #39FF14;
  font-weight: bolder;
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}
p {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  Color: #39FF14;
  line-height: 25px;
}
.button {
  text-align: center;
}
.lien {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}
input {
  width: 250px;
  height: 70px;
  font-size: 25px;
}
